<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NonSqlClientConnection" connectionString="server=(local);database=Regalo;user=sa;password=Inforigami1;" />
    <add name="SqlClientConnection" connectionString="server=(local);database=Regalo;user=sa;password=Inforigami1;" providerName="System.Data.SqlClient" />
    <add name="UnitTestSetUpConnection" connectionString="server=(local);database=Master;user=sa;password=Inforigami1;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>