<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NonSqlClientConnection" connectionString="server=(local);database=Vita;trusted_connection=true;" />
    <add name="SqlClientConnection" connectionString="server=(local);database=Vita;trusted_connection=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>